@{
    ViewData["Title"] = "关于我们";
}


<div class="index-element contact-bg2">
    <div class="container">
        <div class="row">
            <div class="text-left contact-bg8">
            <embed src="http://player.youku.com/player.php/sid/XMTcxNzkyNzAwMA==/v.swf" allowFullScreen="true" quality="high" width="480" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash" />
        </div><br><br><br><br>
        </div>
        
        <h2 style="color:#1E90FF">【“121师徒帮”的由来】</h2><br><p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“121师徒帮”互联网平台是由一帮部队退役军人创办的。创始人尹兆杰在互联网+的创业大潮中，利用30多年军旅生涯历练的良好军人素质和转业后创业积累的经验，针对企业用人难、养人难的问题，从解决退役军人和蓝领工人创业就业的角度着手，创新技能型人才管理、使用、培训方法和手段，带领一群退役军人创立了“121师徒帮”互联网平台，实现了为企业提供优质技能型人才服务的目标。
        </p>
        <br><h2 style="color:#1E90FF">【何谓“121师徒帮”】</h2><br>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;121体现的是军人诚实守信、规范有序、令行禁止、顽强拼搏的作风；师徒帮发扬的是师傅对徒弟言传身教、传帮带的优良传统。师傅通过121平台将徒弟培养成服从管理、执行力强的专业技能型人才，依靠严格的质量管理体系，加以有效的管控，为用户提供高效便捷、标准规范的优质服务。“121师徒帮”平台是帮助复转军人、蓝领人才就业、创业，为企业提供技能型人才培养和服务的网络平台。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“121师徒帮”平台注重的是军人的敬业尽责、绝对服从的作风和品质，摈弃包工头重利轻诺的一些行业陋习，坚持以质取胜的原则，保障平台加盟客户和师徒的利益，增强平台的竞争力。由于平台是复转军人、蓝领人才自己的平台，因而建立初期即吸纳了全国各地具有高素质和高技能的一批复转军人和专业技术骨干的加盟。
        </p><br><h2 style="color:#1E90FF">【为军队、政府和企业提供的服务】</h2><br>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;121平台立足于复转军人为部队服务的理念，适合承揽部队、武警在全国各地的弱电系统施工和运维，较好地解决相关硬件厂商和大型施工公司与部队的对接，能为其提供全国性的设备安装及售后运维服务，也可承担各大公司异地施工的人员组织和技术支援，确保工期和工作质量。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“121师徒帮”还是为地方政府排忧解难的平台，是为部队服务的平台，必将得到地方政府和部队的认可和支持。
            公司（个人）客户加盟“121师徒帮”，我们就能为您提供一站式人才服务解决方案。根据您的需求，平台可直接调派工程所在地相应的“师傅”和“徒弟”，帮您来完成各种施工任务，使您在得到优质、可靠服务的同时，也解决了承揽异地业务用人难的问题。您还可与121平台共享所拥有的项目资源。
            <br>
        </p><br><br><div class="text-center"><img src="~/images/contact/bg7.png" class="img-responsive center-block" /></div>
        <br><h2 style="color:#1E90FF">【“实习基地”】</h2><br>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“121师徒帮”采取在工程实践中以师傅带徒弟手把手教的培养模式，非常适合职业技能培训环节的实习教学。可与职业技能培训机构结合，成为国家培养专业技术人才的专业技能培训的“互联网实习基地”。经过121平台锻炼成长的“徒弟”既可以输送到相关专业技术公司；也可以留在121平台继续创业,“121师徒帮”平台有广阔的的空间供您展示才华和技能。
        </p>
        <br><h2 style="color:#1E90FF">【师傅的概念】</h2><br>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“师傅”有别于传统意义的师傅，是121平台的中坚管理力量，是指在当地具有一定的市场能力且作风过硬、管理能力强的人员，负责工程管理和工程质量监督；负责徒弟（技术人员）的选择、培养和使用；在驻地积极推广平台，寻找合作伙伴，为平台承接工程任务；并享有公司在自己所在地承接工程的优先承包权。随着个人的努力，业绩的增加，师傅必将会有较丰厚的收入。
        </p><br><h2 style="color:#1E90FF">【徒弟的概念】</h2><br>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“徒弟”亦超越传统意义的徒弟，是具有较高专业技能，
            有一定管理能力，可以单独或者带队完成任务的徒弟。首先有一定专业技能的工人，经注册后成为平台的学徒，
            平台指派师傅按照121平台的培训计划,结合实际工作，对学徒从工作作风、操作技能等方面进行一对一、手把手地培训。经过一段时间培训和达到相应工程量之后，经师傅推荐，平台进行综合考核,可正式成长为“徒弟”;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“徒弟”在“师傅”的进一步培养和引导，经过工程实践的锻炼之后，具备了较高的管理能力、工作拓展能力及较丰富的人力资源后，经平台考核合格可晋升为“师傅”。
        </p><br><br><br><br>

        <div class="clearfix"></div>
        <div class="text-center"><img src="~/images/contact/bg6.png" class="img-responsive center-block" /></div>
    </div>
</div>