@{
    ViewData["Title"] = "首页";
}

<div class="index-element bg6">
    <div class="container">
        <div class="advantages-grids">
            <div class="row">
                <div class="col-md-6 text-left">
                    <br><br>
                    <img src="~/images/index/bg8.png" class="img-responsive" />
                    <br><br><br><br><br><br><br><br>
                    <div class="advantage-grid">
                        <div class="advantage">
                            <div class="left-grid">
                                <img src="~/images/index/2wm.png" />
                                <h5>扫一扫关注“师傅帮”微信公众号</h5>
                            </div>
                            <div class="right-grid text-center">
                                <br>
                                <a href="https://itunes.apple.com/us/app/shi-tu-bang-shi-fu/id1140018154?l=zh&ls=1&mt=8" target="_blank"><img src="~/images/index/pg2.png" /></a>&nbsp;&nbsp;
                                <a href="https://itunes.apple.com/us/app/tu-di/id1137481092?l=zh&ls=1&mt=8"
                                   target="_blank"><img src="images/index/pg1.png" /></a><br><br>
                                <a href="http://fir.im/rs73" target="_blank"><img src="~/images/index/az2.png" /></a>&nbsp;&nbsp;
                                <a href="http://fir.im/2rte" target="_blank"><img src="~/images/index/az1.png" /></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="index-element" style="min-height:600px;">
    <div class="container">
        <div class="text-center">
            <br><br><br>
            <h1>完善的项目质量保证体系 客户用工首选</h1><br>
            <h5>百密一疏，为保障用户利益，121平台有完善的用户利益和工人利益保障体系。</h5>
        </div><br>
        <div>
            <img src="~/images/index/bg9.png" class="img-responsive center-block" />
        </div>
    </div>
</div>

<div class="index-element bg1">
    <div class="container">
        <br><br><br>
        <div class="row">
            <br><br><br><br>
            <div class="col-md-7">
                <h1>人才管理 科学评级</h1><br>
                <h4>全方位的管理工地，高效便捷，规范专业</h4><br><br>
                <img src="~/images/index/bg10.png" /><br>
                <p>国家把技工的等级分为一级、二级、三级、四级、五级，若非圈内人，很难说清哪级技能最好。如您是客户，定不想把这些标准学习一遍。</p><br>
                <img src="~/images/index/bg11.png" /><br>
                <p>师徒帮参照国家标准，把技工的技能分为：初级、熟手、过硬、超级四级。从字面理解，超级技工做工程定然次次优秀，客户定然放心。</p><br>
                <img src="~/images/index/bg12.png" /><br>
                <p>师徒帮的技工每完成一项工程，技能等级就进行一次计算，其成绩符合哪级标准，就被评为哪级。可以这么说，其等级就是工程的优秀率。</p><br>
                <img src="~/images/index/bg13.png" /><br>
                <p>
                    因用户对工程质量体会最深，因此用户对工程质量拥有否决权，凡维修的工程一律排除在优秀之列。<br> 在施工中，师傅和品控部坚决打击技工对客户怠慢、投机取巧、阴奉阳违的行为，出现此种情况，坚决给予技工差评。
                    <br> 在师徒帮内，建立了以工程质量为核心，以工程优良率为标准的技能等级评定办法，再辅以技工的优良作风，二者七三分成，综合成绩优秀方为超级技工。
                </p><br>
                <br><br>
            </div>
            <div class="col-md-5">
                <div class="testimonials-center"><img src="~/images/index/bg14.png" class="img-responsive" /></div><br>
            </div>
        </div>
    </div>
</div>

<div class="index-element" style="">
    <div class="container">
        <br><br><br><br><br><br><br><br>


        <h1>师徒帮1</h1><br>
        <h1>注重人才培养与人才服务</h1><br>
        <h4>服从管理、技能高的工匠助您企业增效益</h4><br><br><br><br>
        <div class="row">
            <div class="col-md-5">
                <img src="~/images/index/bg15.png" class="img-responsive"/><br><br>
                <h3>在工程项目中手把手传帮带</h3><br><br>
                <h3>严格的拜师出徒晋升考核机制</h3><br><br>
                <h3>完善的鼓励师傅带徒弟奖惩机制</h3><br><br>
                <h3>为徒弟成才后提供完整的就业渠道</h3>
            </div>
            <div class="col-md-7">
                <div class="testimonials-center"><img src="~/images/index/bg16.png" class="center-block img-responsive" /></div><br>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="index-element" style="min-height:500px;">
    <div class="container">
        <div class="text-center">
            <br><br><br>
            <h1>施工维修，最优之选</h1><br>
            <h5>全方位的管理 您省心也放心</h5>
        </div><br><br><br>
        <div class="row">
            <div class="col-md-6">
                <div class="col-sm-6 col-md-6 text-center">
                    <img src="~/images/index/ch1.png" />
                    <h3>诚信</h3>
                </div>
                <div class="col-sm-6 col-md-6 text-center">
                    <img src="~/images/index/ch2.png" />
                    <h3>专业</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-sm-6 col-md-6 text-center">
                    <img src="~/images/index/ch3.png" />
                    <h3>规范</h3>
                </div>
                <div class="col-sm-6 col-md-6 text-center">
                    <img src="~/images/index/ch4.png" />
                    <h3>便捷</h3>
                </div>
            </div>


        </div>
    </div>
</div>


<div class="index-element" style="">
    <div class="container">
        <div class="text-center">
            <br><br><br>
            <h1 style="color:#1E90FF">答疑解惑</h1><br>
        </div><br><br><br>
        <div class="row">
            <div class="col-md-1 text-center">
                <img src="~/images/index/s.png" />
            </div>
            <div class="col-md-11 textstyle">
                <p style="color:#1E90FF">师徒帮既然声称培养人才为啥还做工程？</p>
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-1 text-center">
                <img src="~/images/index/an.png" />
            </div>
            <div class="col-md-11 textstyle">
                <p style="color:gray">
                    师徒帮做人才培养和人才服务，但师徒帮人才培养注重实践环节，这个实践环节就是工程。 在工程中，师徒教学相长，共同进步和提高。工程是人才培养的载体，没了工程也就没了人才培养。
                </p>
            </div>
        </div><br><br>
        <div class="row">
            <div class="col-md-1 text-center">
                <img src="~/images/index/s.png" />
            </div>
            <div class="col-md-11 textstyle" style="color:#1E90FF">我人脉广，为师徒帮承揽工程，有啥好处？</div>
        </div><br>
        <div class="row">
            <div class="col-md-1 text-center">
                <img src="~/images/index/an.png" />
            </div>
            <div class="col-md-11 textstyle">
                <p style="color:gray">啥叫人脉广？能揽到工程才是人脉广，为师徒帮揽工程，师徒帮会创造双赢的局面，您不自觉的就做了师徒帮的回头客了。</p>
            </div>
        </div><br><br>
        <div class="row">
            <div class="col-md-1 text-center">
                <img src="~/images/index/s.png" />
            </div>
            <div class="col-md-11 textstyle" style="color:#1E90FF">师徒帮的人才评级国家承认吗？社会认可吗？</div>
        </div><br>
        <div class="row">
            <div class="col-md-1 text-center">
                <img src="~/images/index/an.png" />
            </div>
            <div class="col-md-11 textstyle">
                <p style="color:gray">
                    师徒帮人才评级标准，属于行业标准，目前同类国家标准处于空白。在此基础上，师徒帮结合工程实际，科学合理地作出人才评级的标准，并在实践中不断完善和发展。目前已得到相当数量的企事业单位认可。 师徒帮会一直努力，争取得到国家相关部门的认可，上升为国家标准。
                </p>
            </div>
        </div><br><br>
        <div class="row">
            <div class="col-md-1 text-center">
                <img src="~/images/index/s.png" />
            </div>
            <div class="col-md-11 textstyle" style="color:#1E90FF">用人单位能从师徒帮找到高级工匠吗？</div>
        </div><br>
        <div class="row">
            <div class="col-md-1 text-center">
                <img src="~/images/index/an.png" />
            </div>
            <div class="col-md-11 textstyle">
                <p style="color:gray">
                    用人单位有用人单位的标准，培养单位有培养单位的标准。当二者的要求相同时，就成交。 师徒帮所做的工程，就是人才最好的代言，就是最有力的证明。在师徒帮能找到你需要的工匠
                </p>
            </div>
        </div><br><br>
        <div class="row">
            <div class="col-md-1 text-center">
                <img src="~/images/index/s.png" />
            </div>
            <div class="col-md-11 textstyle" style="color:#1E90FF">师傅教徒弟技能、带徒弟作风，能有什么回报？</div>
        </div><br>
        <div class="row">
            <div class="col-md-1 text-center">
                <img src="~/images/index/an.png" />
            </div>
            <div class="col-md-11 textstyle">
                <p style="color:gray">
                    假如你技能高，让徒弟钦佩，并拜您为师，您就能躺着挣钱了。 师徒帮规定：徒弟在学徒期间，拿出一定比例的施工收入孝敬师傅。就算师傅病了，只要有徒弟在施工，就会有收入进帐，师傅躺着也能挣钱。
                </p>
            </div>
        </div><br><br>
        <div class="row">
            <div class="col-md-1 text-center">
                <img src="~/images/index/s.png" />
            </div>
            <div class="col-md-11 textstyle" style="color:#1E90FF">徒弟孝敬师傅理所应当，可不能无休无止啊？</div>
        </div><br>
        <div class="row">
            <div class="col-md-1 text-center">
                <img src="~/images/index/an.png" />
            </div>
            <div class="col-md-11 textstyle">
                <p style="color:gray">徒弟孝敬师傅，只是给徒弟以学习的压力。当徒弟被用人单位招聘，也就出徒了，就不必再孝敬师傅了。</p>
            </div>
        </div><br><br>
        <div class="row">
            <div class="col-md-1 text-center">
                <img src="~/images/index/s.png" />
            </div>
            <div class="col-md-11 textstyle" style="color:#1E90FF">职校毕业找不到工作，加入师徒帮能有前途吗？</div>
        </div><br>
        <div class="row">
            <div class="col-md-1 text-center">
                <img src="~/images/index/an.png" />
            </div>
            <div class="col-md-11 textstyle">
                <p style="color:gray">职校或高校教授了你专业理论，可只有理论不能干活啊。加入师徒帮后，干活高手如云，都愿意把真本事传授给你。只要你用心学，理论联系实际，定能成才。成才的人，能没有前途吗？</p>
            </div>
        </div><br><br>
        <div class="row">
            <div class="col-md-1 text-center">
                <img src="~/images/index/s.png" />
            </div>
            <div class="col-md-11 textstyle" style="color:#1E90FF">我是农民工，能加入师徒帮吗？</div>
        </div><br>
        <div class="row">
            <div class="col-md-1 text-center">
                <img src="~/images/index/an.png" />
            </div>
            <div class="col-md-11 textstyle">
                <p style="color:gray">能啊。工程中需要各式各样的劳力，总是有你量体裁衣的工作。比如：你有一身的力气，在综合布线工程中可以负责挖沟、下管等工作啊。没有一座大楼是只靠设计人员就盖起来的。</p>
            </div>
        </div><br><br>
        <div class="row">
            <div class="col-md-1 text-center">
                <img src="~/images/index/s.png" />
            </div>
            <div class="col-md-11 textstyle" style="color:#1E90FF">我技能高不缺吃不缺喝，凭啥到师徒帮做师傅？</div>
        </div><br>
        <div class="row">
            <div class="col-md-1 text-center">
                <img src="~/images/index/an.png" />
            </div>
            <div class="col-md-11 textstyle">
                <p style="color:gray">你凭啥不做啊？你广收徒弟，享受孝敬，躺着挣钱，难道你和钱有仇？</p>
            </div>
        </div><br><br>
        <div class="row">
            <div class="col-md-1 text-center">
                <img src="~/images/index/s.png" />
            </div>
            <div class="col-md-11 textstyle" style="color:#1E90FF">我是退役军人，在师徒帮能做啥？</div>
        </div><br>
        <div class="row">
            <div class="col-md-1 text-center">
                <img src="~/images/index/an.png" />
            </div>
            <div class="col-md-11 textstyle">
                <p style="color:gray">121师徒帮就是退役军人温暖的家，只要你努力，未来肯定是美好的。师徒帮是退役军人发起、推动、壮大的，难道战友会给你挖坑？</p>
            </div>
        </div><br><br>
    </div>

</div>




