@model Stb.Official.Models.ServiceViewModel
@{
    ViewData["Title"] = "加入我们";
}

<div class="index-element joinus-bg1">
    <div class="advantages">
        <div class="container">
            <div class="advantages-grids">
                <div class="col-md-12">
                    <br /><br />
                    <div class="text-right"><img src="~/images/joinus/bg5.png" class="img-responsive block-right" /></div><br>
                    <h2 class="text-right">这不是简单的加盟，这是兄弟同心共创未来。</h2>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="index-element joinus-bg7">
    <div class="container">
        <br><br><br>
        <h1 style="float:right;color:#0000CD">退役军人就业创业平台</h1><br><br><br><br>
        <h3 style="float:right;color:#0000CD">121师徒帮是退役军人温暖的家</h3><br><br>
        <h3 style="float:right;color:#0000CD">121师徒帮为退役军人搭建家业创业大舞台</h3><br><br><br><br>
        <div class="clearfix"></div>
    </div>
</div>
<div class="welcome">
    <div class="container text-center">
        <br />
        <h2>   <label style="color:#1E90FF">“121师徒帮”</label>是一个基于互联网+的O2O运营服务平台，</h2>
        <h2>   通过做工程，培养、提高会员的工作技能，争取达到人才的标准。</h2>
        <br />
    </div>
</div>
<div class="joinus-bg2">
    <div class="container">
        <div class="text-center"> <br><br><br><h1>师徒帮人才培养和服务平台与城市劳务市场的区别</h1><br></div><br>
        <img src="~/images/joinus/bg7.png" class="img-responsive center-block"/>
    </div>
</div>
<div>
    <div class="container">
        <div class="text-center"> <br><br><br><h1>为什么您更应与师徒帮合作</h1><br></div><br><br><br>
        <img src="~/images/joinus/bg3.png" class="img-responsive center-block" />
    </div>
</div>
<div class="index-element" style="background-color: #ecf0f1;background:url(images/joinus/bg4.png) no-repeat 0px 0px;min-height:600px;">
    <div class="container">
        <div class="text-center"> <br><br><br><h1>谁更适合加入师徒帮？</h1><br></div><br><br><br>
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="~/images/joinus/join2.png" />
            </div>
            <div class="col-md-4 text-center">
                <img src="~/images/joinus/join1.png" />
            </div>
            <div class="col-md-4 text-center">
                <img src="~/images/joinus/join5.png" />
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="index-element" style="min-height:600px;">
    <div class="container">
        <div class="text-center">
            <br><br><br><h1>现在就请您注册我们，在师徒帮成长壮大或实现人生目标。</h1><br>
            <br>
        </div><br>
        <div class="row">
            <div class="col-md-6 text-center">
                <img src="~/images/joinus/join4.png" />
            </div>
            <div class="col-md-6 text-center">
                <img src="~/images/joinus/join3.png" />
            </div>
        </div><br><br>
        <div class="text-center"><h1>现在就请您打开邮箱，申请加盟师徒帮，和我们团队一起创业。</h1></div><br><br>
        <div class="clearfix"></div>
    </div>
</div>
