@{
    ViewData["Title"] = "人才培养与服务";
}


<div>
    <img src="~/images/talent/bg1.png" class="img-responsive"/>
</div>
<div class="index-element" style="min-height:650px;">
    <div class="container textstyle">
        <div class="text-center"> <br><br><br><h2 style="color:#1E90FF">崇高的使命</h2><br></div>
        <p style="color:gray">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;自孔圣人创立私塾以来，学校教育就开始了“白领化”和“贵族化”，学生就业以在写字楼、金融街办公为荣，耻于风吹日晒、机器嘈杂的工作环境。然，大至一国、一社会，小至一个工程、一座住宅楼，都需要工匠一砖一瓦的精雕细琢，需要大量的“蓝领”人才。</p>
        <div class="text-center"> <br><h2 style="color:#1E90FF">“蓝领”人才哪里来？</h2><br></div>
        <p style="color:gray">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;尽管大专院校林立，但教育体制的禁锢、教学模式的单一，实践基地的衰败，导致名校不齿培养蓝领，职校一味降低教育成本一门心思谋升格。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中国制造2025和2016年的李总理的政府工作报告都大力倡导“工匠精神”，顺应这一历史潮流，师徒帮振臂一呼，毅然走上“工匠”培养之路。
        </p>
        <div class="text-center"> <br><h2 style="color:#1E90FF">培养模式</h2><br></div>
        <p style="color:gray">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;聘各专业能工巧匠和优秀退役军人组成师傅团队，在实际工程中，能工巧匠手把手教授专业技能，退役军人传帮带服从命令一往无前的工作作风，将菜鸟培养成服从管理技能强的“匠人”，输送给各个用人企业。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;同时也可按照企业的要求，单独定制培养内容，为企业定向培养专有人才。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;师徒帮就像一个人才工厂，进来的是懵懂少年，走出的是浑身武艺想要一展身手的匠人。
        </p>
        <div class="text-center"> <br><h2 style="color:#1E90FF">人才服务</h2><br></div>
        <p style="color:gray">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;依据不同的专业标准，对每个人的技能量化评级，供用人单位精挑细选。或用人单位单独定制，定向培养。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;租聘自选，长期短期自定，形式灵活多样，解决用人单位目前普遍“不用时难管理，用人时不顺手”的尴尬局面。
        </p>
    </div>
</div>

<div class="index-element talent-bg2">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br><br><br><br><br><br><br><br>
                <h1>师徒帮</h1><br>
                <h1>注重人才培养与人才服务</h1><br>
                <h4>服从管理、技能高的工匠在师徒帮才算成才，允许走向人才服务市场，祝您企业增效益 </h4><br><br><br><br>
                <!-- <img src="images/talent/bg2.png"/> -->
                <h2>工程实践中手把手传帮带</h2><br><br>
                <h2>传统形式上的师傅教徒弟</h2><br><br>
                <h2>菜鸟成才后到企业就业</h2><br><br>
                <h2>暂时不就业在帮内做工程</h2>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
