@model Stb.Data.Models.Project

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Project</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="ContactDeadline" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ContactDeadline" class="form-control" />
                <span asp-validation-for="ContactDeadline" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ContactorStaffId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ContactorStaffId" class="form-control" />
                <span asp-validation-for="ContactorStaffId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ContractorId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="ContractorId" class="form-control" asp-items="ViewBag.ContractorId"></select>
                <span asp-validation-for="ContractorId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DistrictId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="DistrictId" class="form-control" asp-items="ViewBag.DistrictId"></select>
                <span asp-validation-for="DistrictId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ExpectedDays" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ExpectedDays" class="form-control" />
                <span asp-validation-for="ExpectedDays" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ExpectedStartTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ExpectedStartTime" class="form-control" />
                <span asp-validation-for="ExpectedStartTime" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LeadWorkerId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LeadWorkerId" class="form-control" />
                <span asp-validation-for="LeadWorkerId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PlatoonId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PlatoonId" class="form-control" />
                <span asp-validation-for="PlatoonId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProjectType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ProjectType" class="form-control" />
                <span asp-validation-for="ProjectType" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WorkAddress" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="WorkAddress" class="form-control" />
                <span asp-validation-for="WorkAddress" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WorkLocation" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="WorkLocation" class="form-control" />
                <span asp-validation-for="WorkLocation" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WorkerNeeded" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="WorkerNeeded" class="form-control" />
                <span asp-validation-for="WorkerNeeded" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
