body {
    padding-top: 50px;
    padding-bottom: 20px;
}

ul {
    padding: 0 0;
    margin: 0 0;
}


.top-banner {
    background-image: url(../images/index/logo_03.png); /*no-repeat 0 0;*/
    background-size: cover;
    min-height: 70px;
    vertical-align: central;
}

.index-element {
    background-size: cover;
    min-height: 800px;
}

.bg6 {
    background: url(../images/index/logo_06.png) no-repeat 0 0;
}

.bg1 {
    /*background: url(../images/index/bg1.png) no-repeat;*/
    background-image: url(../images/index/bg1.png);
}

.talent-bg1 {
    /*background: url(../images/index/bg1.png) no-repeat;*/
    background-image: url(../images/talent/bg1.png);
    min-height: 500px;
}

.talent-bg2 {
    background-color: #ecf0f1;
    background: url(../images/index/zp.png) no-repeat 0px 0px;
}


.logo {
    height: 40px;
    margin: 4px;
}

.relative {
    height: 30px;
    margin: 4px;
}

.service-bg7 {
    background-color: #ecf0f1;
    background-image: url(../images/service/bg7.png);
    min-height: 500px;
}

.service-item {
    margin-top: 20px;
    margin-left: 10px;
}

    .service-item span {
        vertical-align: middle;
        font-weight: bold;
    }

.joinus-bg1 {
    /*background: url(../images/index/bg1.png) no-repeat;*/
    background: url(../images/joinus/bg1.png) no-repeat 0 0;
    min-height: 500px;
}

.joinus-bg7 {
    /*background: url(../images/index/bg1.png) no-repeat;*/
    background: url(../images/index/bg7.png) no-repeat 0 0;
    min-height: 300px;
    background-color: #ecf0f1;
}

.joinus-bg2 {
    /*background: url(../images/index/bg1.png) no-repeat;*/
    background-image: url(../images/joinus/bg2.png);
    min-height: 700px;
    background-size: cover;
}

.joinus-bg4 {
    /*background: url(../images/index/bg1.png) no-repeat;*/
    background: url(../images/joinus/bg4.png) no-repeat 0 0;
    min-height: 600px;
}

.block-right {
    margin-left: auto;
    margin-right: 0;
}

.welcome {
    padding: 1em 0;
}

.contact-bg8 {
    background: url(../images/contact/bg8.png) no-repeat 0px 0px;
}

.contact-bg2 {
    /*background-color: #ecf0f1;*/
    background: url(../images/contact/bg2.png) no-repeat 0px 0px;
    min-height: 600px;
}

