@model Stb.Data.Models.JobClass

@{
    ViewData["Title"] = "Delete";
    JobCategory category = ViewData["Category"] as JobCategory;
}

<h2>Delete</h2>
<br />
<h4 class="text-center">所属工作门类：@category.Name</h4>
<br />
<h4 class="text-danger text-center">确认删除工作种类?</h4>
<div>
    <h4>工作种类信息</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            所属工作门类
        </dt>
        <dd>
            @category.Name
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            <a asp-action="Index" asp-route-id="@category.Id">返回列表</a>
        </div>
    </form>
</div>
