@model Stb.Platform.Models.OrderViewModels.OrderViewModel

@{
    ViewData["Title"] = "新增工单";
}

<h2>@ViewData["Title"]</h2>
<br />
<form asp-action="Create">
    <div class="form-horizontal">
        <div asp-validation-summary="All" class="text-danger"></div>
        <h4>客户信息</h4>
        <hr />
        <div class="form-group">
            <label asp-for="ProjectId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ProjectId" asp-items="@ViewBag.Projects" class="form-control">
                    <option value="@null">无</option>
                </select>
                <span asp-validation-for="ProjectId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ContractorName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ContractorId" type="hidden" />
                <input asp-for="ContractorName" type="hidden" />
                <input id="ContractorTypeahead" type="text" class="form-control" />
                <span asp-validation-for="ContractorName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ContractorStaffName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ContractorStaffId" type="hidden" />
                <input asp-for="ContractorStaffName" type="hidden" />
                <input id="ContractorStaffTypeahead" type="text" class="form-control" />
                <span asp-validation-for="ContractorStaffName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ContractorStaffPhone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ContractorStaffPhone" class="form-control" />
                <span asp-validation-for="ContractorStaffPhone" class="text-danger" />
            </div>
        </div>
        <h4>工程概况</h4>
        <hr />
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="WorkerNeeded" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="WorkerNeeded" class="form-control" />
                <span asp-validation-for="WorkerNeeded" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ExpectedStartTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ExpectedStartTime" class="form-control" />
                <span asp-validation-for="ExpectedStartTime" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ExpectedDays" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ExpectedDays" class="form-control" />
                <span asp-validation-for="ExpectedDays" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ContactDeadline" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ContactDeadline" class="form-control" />
                <span asp-validation-for="ContactDeadline" class="text-danger" />
            </div>
        </div>
        
        <h4>施工内容</h4>
        <hr />
        <div class="form-group">
            <label asp-for="WorkLoads" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class="col-sm-11 col-md-7 col-lg-6 no-padding-left">
                    <ul class="form-control ul-form-control" id="WorkLoads"></ul>
                </div>
                <div class="col-md-5 col-lg-5 no-padding-left">
                    <div class="form-group">
                        <div class="col-md-10">
                            <Select id="workLoadJobCategorySelect" class="form-control"></Select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <Select id="workLoadJobClassSelect" class="form-control"></Select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <ul id="workLoadJobMeasurementSelect" class="form-control ul-form-control"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h4>施工地点</h4>
        <hr />

        <div class="form-group">
            <label class="col-md-2 control-label">施工区域</label>
            <div class="col-md-10">
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="hidden" asp-for="District.ProvinceAdcode" />
                        <Select id="provinceSelect" class="form-control"></Select>
                        <span asp-validation-for="District.ProvinceAdcode" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="hidden" asp-for="District.CityAdcode" />
                        <Select id="citySelect" class="form-control"></Select>
                        <span asp-validation-for="District.CityAdcode" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="hidden" asp-for="District.DistrictAdcode" />
                        <Select id="districtSelect" class="form-control"></Select>
                        <span asp-validation-for="District.DistrictAdcode" class="text-danger" />
                    </div>
                </div>
            </div>
        </div>  

        <div class="form-group">
            <label asp-for="WorkAddress" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="WorkAddress" class="form-control"></textarea>
                <span asp-validation-for="WorkAddress" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="WorkLocation" class="col-md-2 control-label"></label>
            <input type="hidden" asp-for="WorkLocation" />
            <div class="col-md-10">
                <div id="container" style="width:400px;height:300px"></div>
            </div>
        </div>

        <h4>指定排长</h4>
        <hr />
        <div class="form-group">
            <label asp-for="PlatoonId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PlatoonId" type="hidden" />
                <input asp-for="PlatoonName" type="hidden" />
                <input id="PlatoonTypeahead" class="form-control" />
                <span asp-validation-for="PlatoonId" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="创建" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">返回</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_AmapScriptsPartial");
    }
}
